@tailwind base;
@tailwind components;
@tailwind utilities;

/* Header Styles */
header ul li {
    @apply px-5;
}

/* Background Colors */
.bg-primary {
    background: #d63384; /* Dark pink */
}
.bg-secondary {
    background: #f8a1d1; /* Lite pink */
}

/* Mobile Navigation */
.mobile-nav {
    @apply fixed top-10 left-0 bg-gray-600 w-full h-1/4;
}
.mobile-nav li {
    @apply w-full h-full text-center border-b-2;
}

/* Buttons */
.btn {
    @apply bg-primary px-5 py-2 font-bold border-2 border-secondary rounded;
}

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}
